@media only screen and (max-width : 680px){

    /* Header Section */
    .nav{
        flex-direction: column;

        padding-top: 0px;
        padding-bottom: 10px;
    }

    header{
        padding-bottom: 0;
    }

    .nav ul{
        gap: 20px;
        padding: 20px;
    }

    .hero{
        width: 80%;
        margin-top: 0;
    }

    .bannar{
        margin-bottom: 60px;
    }

    .hide{
        display: none;
    }


    /* Quick List */
    .quick-list{
        display: flex;
        flex-wrap: wrap-reverse;
        margin: 10px 10px;
    }

    /* Features you will love & engoy */

    .love > div{
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10px;
    }

    .item{
        margin-right: 0;
    }

    .exp{
        margin: 10px auto;
        width: 100%;
    }


    /* Some Facts */
    .fact-container{
        width: calc(100% - 20px);
        margin: 0px 10px;
    }

    .badge-container{
        grid-template-columns: 1fr 1fr;
    }

    .badge{
        padding: 20px 40px;
    }

    /* Our Sponsors */
    .logo-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Footer */
    footer{
        margin: 0;
        margin-top: 40px;
        box-sizing: border-box;
    }

}