@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}

:root {
    --background-color: #FFF4E7;
    --button-background: #FF900E;
    --dark3: #727272;

}

a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

/* Shared Styles */
.section{
    max-width: 1280px;
    margin: 0px auto;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.btn{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 21px 25px;
    color: white;
    font-weight: 600;
    border: 2px solid var(--button-background);
    font-size: 1rem;
}

.btn:hover{
    background-color: white;
    color: var(--dark3);
}

.text{
    text-align: center;
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}
.text-left{
    text-align: left;
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

img{
    width: 100%;
}






/* Header */
header{
    background-color: var(--background-color);
    padding: 30px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > ul{
    color: var(--dark3);
    display: flex;
    gap : 60px;
    list-style: none;
}

.nav > h1{
    font-size: 2.1rem;
    font-weight: 700;
}

ul > a:hover{
    color: var(--button-background);
}

.hero{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hero  h1{
    font-size: 3rem;
    text-align: center;
}

.bannar{
    margin-top: 50px;
}



/* Quick List  */

.squre-img  , .quick-list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.quick-list {
    margin-top: 80px;
    gap: 50px;
}

.quick-list-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.quick-list-description p{
    text-align: left;
}

.quick-list-description h2{
    font-size: 3rem;
}

.quick-list-description h2 span:first-of-type{
    font-weight: 400;
    color: var(--dark3);
}

.quick-list-description h2 span:nth-of-type(2) {
    color: var(--button-background);
}




/* Features you will love & enjoy */
.item h2{
    border-left: 4px solid var(--button-background);
    margin-top: 60px;
    padding-left: 10px;
    font-size: 3rem;
}

.love > div{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item{
    margin-right: 10vw;
}


.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.h3{
   font-size: 1.1rem; 
}

.card{
     padding:10px 15px;
     box-shadow: 2px 2px 20px rgb(233, 233, 233);
     border-radius: 8px;
}

.exp > span{
    font-size: 4rem;
}

.exp{
    margin-top: -110px;
    margin-left: -80px;
}

/* Some Facts */

.badge > img{
    width: 33px;
}

.facts{
    margin-top: 60px;
}

.fact-container{
    width: 40%;
}

.badge-container{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
    width: 70%;
    margin: 20px auto;
}

.badge{
    border: 1.2px solid var(--button-background);
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    gap: 10px ;
}


/* Our Sponsors */
.sp-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.logo-container > img{
    width: 100px;
    filter: grayscale(100%); 
    transition: filter 0.3s ease;
}

.logo-container > img:hover{
    filter: grayscale(0%); 
}

.logo-container{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

/* Footer */

footer{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    padding: 30px;
    max-width: 1280px;
    margin: 100px auto;
}


footer p > a{
    text-decoration: underline;
}

